@use './common/tools/' as t;

.about {
  &__card {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(222,222,222,1) 35%, rgba(199,199,199,1) 100%);
  }
  &__image {
    padding-top: 49%;
    height: 0;
    flex-grow: 1;
    background-image: url(http://placehold.jp/360x450.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include t.mq($from: sp) {
      flex-basis: 40%;
    }
    @include t.mq($until: sp) {
      flex-basis: 100%;
      background-position: center;
    }
  }
  &__text {
    flex-grow: 1;
    line-height: 2;
    @include t.mq($from: sp) {
      flex-basis: 60%;
      padding: 30px 20px 30px 10px;
    }
    @include t.mq($until: sp) {
      flex-basis: 100%;
      padding: 20px 15px;
    }
  }
}