@use './common/tools/' as t;

.copyright {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  @include t.mq($from: sp) {
    height: 100px;
  }
  @include t.mq($until: sp) {
    height: 50px;
  }
}