.heroimage {
  background-image: url(https://images.ctfassets.net/17bs4cqi7kdy/17dxJLiXS3qiRxsJlKfo2l/182970741ea0e4336299b781a71cf3f1/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.heroimage::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.title,
.submessage {
  color: #fff;
  /* position: relative; */
  z-index: 2;
}

@media screen and (min-width: 600.01px) {
  .heroimage {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .heroimage {
    height: 500px;
  }
}